.custom-h{
    background-image: url("ws.jpg");
    height: 390px;
    color: white;
    
    
}
.cell-b2{
    background-image: url("seis.jpg");
    height: 195px;
    color: white;
    
}
.cell-b1{
    background-image: url("Amazon.jpg");
    height: 195px;
   
}